


.title{
  color: rgb(46, 137, 243);
  font-size:70px;
  font-weight: bold;
}

.sub-title{
  font-size:30px;
  font-weight:400px;
}

.loginCard{
  width: 400px;
  margin: 20px;
  padding: 20px;
  box-shadow: 3px 3px 3px 1px grey;
}

.title-comtainer{
  margin: 400px;
  padding: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

a:hover{
  text-decoration:underline;
  
}

.anchoer1{
  text-decoration: none;
}


.anchoer2{
  text-decoration: none;
  color: black;
  font-weight: bold;
}

.createBUtton{
 width: 250px;
 margin: 0 auto;

}

.nameBox{
  margin-bottom: 10px;
}
 
.formControl{
  margin-bottom: 10px;
  background-color: #F5F6F7;
}

.a1{
  background-color: pink;
}

.a2{
  background-color: yellow;
}

.a3{
  background-color: orange;
}

.a4{
  background-color: aqua;
}

.a5{
  background-color: greenyellow;
}


.b1{
  background-color: pink;
  color: red;
  font-size: 50px;
}

@media only screen and (max-width: 600px) {
  .b1{
    background-color: greenyellow;
    color: green;
    font-size: 20px;
    border: 2px solid black;
    margin: 30px;
  }
}

@media only screen and (min-width: 900px) {
  .b1{
    background-color: lightblue;
    color: blue;
    font-size: 20px;
  }
}